
@{
    ViewBag.Title = "Contents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contents</h2>
<ul>
    <li><h3>@Html.ActionLink("Add Employee","InputData","GetEmployee")</h3></li>
    <li><h3>@Html.ActionLink("Display all Employees details","ShowAll","GetEmployee")</h3></li>
    <li><h3>@Html.ActionLink("Delete an Employee's details","Delete","GetEmployee")</h3></li>
</ul>

